= simple_form_for(@profile) do |f|
  = f.error_notification
  = f.input :first_name
  = f.input :last_name
  = f.input :age
  = f.input :address
  = f.input :city
  = f.input :state
  = f.input :country_code
  = f.input :description
  = f.input :brewing_since
  %br/
  %h4
    Social Media links:
  %br/
  = f.input :facebook
  = f.input :twitter
  = f.input :instagram
  = f.button :submit, class: "button"
