.container
%p= image_tag @profile.avatar.url(:medium), class: "img-thumbnail"
%p
  %strong Name:
  = @profile.full_name
%p
  %strong Birth:
  = @profile.birth.strftime("%d-%b-%Y")
%p
  %strong Addres:
  = @profile.full_adress
%p
  %strong Description:
  = @profile.description
%p
  %strong Brewing since:
  = @profile.brewing_since
%p
.container
%strong Facebook:
= link_to nil, @profile.facebook, target:"blank"
%p
%strong Twitter:
= link_to nil, @profile.twitter, target:"blank"
%p
%strong Instagram:
= link_to nil, @profile.instagram, target: "blank"
%hr/
%p
%h3 My brews:
%br/
- @profile.user.beers.each do |beer|
  %p
    %strong Name:
    = beer.name
  %p
    %strong Type:
    = beer.beer_type
    %br
    %a{href: beer_path(beer) }
      = image_tag beer.image.url(:small), class: "img-thumbnail"
  %hr/

- if @profile.user == current_user
  %h3 My orders:
  %br/
  - @profile.user.orders.reverse.each do |order|
    %p
      %strong Order Number:
      = order.id
    %p
      %strong Beer:
      = order.beer.name
    %p
      %strong Price: $
      = order.beer.price
    %p
      %strong Purchased:
      = order.created_at.strftime("%d-%b-%Y")
    %hr

  .btn.group
    = link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-default dark"
    = link_to "Edit User", edit_user_registration_path, class: "btn btn-default dark"
    = link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default dark"
  %br
