<%= simple_form_for @beer do |f| %>
  <% if beer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :image %><br />
    <%= f.input :description %><br />
    <%= f.input :beer_type %><br />
    <%= f.input :quantity %><br />


  </div>

  <div class="form-group">
    <%= f.label :unit_type %><br />
    <%= f.text_field :unit_type %><br />
  </div>

  <div class="form-group">
      <%= f.label :price %><br />
      <%= f.text_field :price %><br />
  </div>

  <div class="form-group">
    <%= f.submit class: "button"  %>
  </div>

<% end %>
