<%= simple_form_for @beer do |f| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.input_field :name %><br />
  </div>

  <div class="form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image %><br />
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
  </div>

  <div class="form-group">
    <%= f.label :beer_type %><br />
    <%= f.text_field :beer_type %><br />
  </div>

  <div class="form-group">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %><br />
  </div>

  <div class="form-group">
    <%= f.label :unit_type %><br />
    <%= f.text_field :unit_type %><br />
  </div>

  <div class="form-group">
      <%= f.label :price %><br />
      <%= f.text_field :price %><br />
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary"  %>
  </div>

<% end %>
