#beershow
  %h1= @beer.name
  %p.user.email
    Shared by
    = @beer.user.email
    about
    = time_ago_in_words(@beer.created_at)
  .clearfix
    .post_image_description
      %p= image_tag @beer.image.url(:medium)
      = link_to like_beer_path(@beer), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@beer.get_upvotes.size, "Like")
      = link_to dislike_beer_path(@beer), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@beer.get_downvotes.size, "Dislike")
      - if @beer.user == current_user
        = link_to "Edit", edit_beer_path(@beer), class: "button"
        = link_to "Delete", beer_path(@beer), method: :delete, data: { confirm: "Are you sure?" }, class: "button"
      - else
        = link_to "Buy", new_order_path, class:"button"

      .description
        %br
        %h4 Description:
        = simple_format(@beer.description)
        %h4 beer type:
        = @beer.beer_type
        %h4 Unit type:
        = @beer.unit_type
        %h4 Quantity available:
        = @beer.quantity
        %h4 Price:
        = @beer.price

#comments
  %h2.comment_count= pluralize(@beer.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.content= comment.content
      %p.username
      Comment by
      = comment.user.email
      about
      = time_ago_in_words(comment.created_at)


=render "comments/form"
