#beershow
  %h1= @beer.name
  %p.user.email
    Shared by
    = @beer.user.profile.first_name
    about
    = time_ago_in_words(@beer.created_at)

    .container-fluid
      .post_image_description
        %p= image_tag @beer.image.url(:medium), class: "img-thumbnail"
        = link_to like_beer_path(@beer), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-up
          = pluralize(@beer.get_upvotes.size, "Like")
        = link_to dislike_beer_path(@beer), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-down
          = pluralize(@beer.get_downvotes.size, "Dislike")
        - if @beer.user == current_user
          = link_to "Edit", edit_beer_path(@beer), class: "button"
          = link_to "Delete", beer_path(@beer), method: :delete, data: { confirm: "Are you sure?" }, class: "button"
        - elsif current_user
          = form_tag orders_path do |f|
            = hidden_field_tag 'beer_id', @beer.id
            %article
              %label.amount
                %span
                Unit price: #{pretty_amount(@beer.price_in_cents)}
            %script.stripe-button{"data-amount" => "#{@beer.price_in_cents}", "data-description" => "#{@beer.name}", "data-email" => "#{current_user.email}", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
        -else
          =link_to "Sign In to Buy", new_user_session_path, class: "button"


      .description
        %br
        %h4 Description:
        = simple_format(@beer.description)
        %h4 beer type:
        = @beer.beer_type
        %h4 Unit type:
        = @beer.unit_type
        %h4 Quantity available:
        = @beer.quantity
        %h4 Price:
        = @beer.price

        .text-center
          %h4 Brewed by:
          %p= image_tag @profile.avatar.url(:thumb), class: "img-circle"
          %h5 Hood: #{@profile.first_name}
          %h5 From: #{@profile.country.name}
          %br
          = link_to "Hood Profile", profile_path(@profile), class: "button"


#comments
  %h2.comment_count= pluralize(@beer.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.content= comment.content
      %p.username
      Comment by
      = comment.user.profile.first_name
      about
      = time_ago_in_words(comment.created_at)


=render "comments/form"
