<h1><%= @beer.name %></h1>

<p> <%=image_tag @beer.image.url(:medium)%> </p>
<p>
  <strong>Type:</strong>
  <%= @beer.beer_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @beer.description %>
</p>
<p>
  <strong>Unit Type:</strong>
  <%= @beer.unit_type %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @beer.quantity %>
</p>
<p>
  <strong>Price:</strong>
  <%= @beer.price %>
</p>
<br />
<p> Add by:
  <%= @beer.user.email %>
</p>
<br />

<%= link_to 'Destroy', beer_path(@beer), methode: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
