!!!
%html
%head
  %title BrewHood
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
  %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Unlock"}
  %link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Coda+Caption:800|Unlock"}
  %link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
  = csrf_meta_tags
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%body
  %header
    .wrapper.clearfix
      #logo= link_to "BrewHood", root_path
      %nav
        - if user_signed_in?
          = link_to "Sell Beer", new_beer_path
          = link_to "Edit Profile", edit_user_registration_path
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign In", new_user_session_path
          = link_to "Sign Up", new_user_registration_path

  %p.notice= notice
  %p.alert= alert

  .wrapper
    = yield
